*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}
@media(width < 500px){
  .login-checkbox-box{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}